.app{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.main{
    width:100vw;
    background:url(../images/bg1.jpg);
    background-repeat: repeat;
    background-size: contain;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.mainWithoutNavbar{
    height:100vh;
}
.mainWithNavbar{
    height:85vh;
}
/* @media only screen and (max-width:750px){
    .mainWithoutNavbar{
        height:90vh;
        align-items: flex-start;
    }
    
} */