*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
button{
    width:6.2rem;
    height:2.3rem;
    border:solid 1px white;
    border-radius: 5px;
    color:white;
    background-color: rgb(82, 109, 130);
}
input{
    height:30px;
    border:solid 2px #2E8A99;
    border-radius: 5px;
    padding:3px;
    width:100%;
}
input:focus{
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#DDE6ED; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #526D82; 
  }