*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
button{
    width:6.2rem;
    height:2.3rem;
    border:none;
    border-radius: 5px;
    color:white;
    background-color: rgb(82, 109, 130);
}
input{
    height:30px;
    border:solid 2px #2E8A99;
    border-radius: 5px;
    padding:3px;
    width:100%;
}
input:focus{
    outline: none;
}