.chat-container{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: flex-end;
}
.chat{
    width:60vw;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-left:solid .2px white;
    background-color:white;
    background: transparent;
    background-size: cover;
}
.chat-rooms{
    width:40vw;
}

.rooms-container{
    height:90%;
    font-weight:400;
    overflow-x: auto;
    background-color: rgba(221, 230, 237,0.5);
}
.single-room{
    height:12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background:#DDE6ED;
    border-bottom:solid 1px white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.room-info{
    display: flex;
    align-items: center;
    gap:20px;
}
.profileImg{
    height:110%;
    border-radius: 50%;
}
.chat-header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:10%;
    background-color:#526D82;
    color:white;
    padding:15px;
    font-size: 12px;
}
.chat-header-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:25px;
}
.message-box{
    height:85%;
    font-weight:400;
    padding:25px;
    overflow: auto;
}

.single-message{
    display:block;
    float:left;
    padding: 5px;
    min-width: 51%;
    max-width:80%;
    margin-bottom: 10px;
    border-radius: 18px;
    background-color:#DDE6ED;
    /* background-color:rgb(228, 222, 222); */
    overflow-wrap: break-word;
}
.single-message span{
    font-weight:bold;
    color:rgb(54,79,142);
    font-size: 14px;
}
.user{
    padding:5px;
    display: flex;
    gap:3px;
    align-items: center;
}
.userImg{
    height:25px;
    border-radius:50%;
}
.text{
    padding:2px 0;
    padding-left: 30px;
    padding-right:10px;
}
.msg_time{
    color:rgb(54,79,142);
    font-size: 11px;
    padding-right:10px;
}
.msgform{
    display:flex;
    width:100%;
    height:10%;
    padding:7px 5px;
    align-items: center;
    column-gap: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.msginput{
    border:none;
    padding-left: 10px;
    height:95%;
    border-radius: 30px;
    background:#DDE6ED;
    /* #C2DEDC; */
     
}

.arrow{
    display:none;
}
@media only screen and (max-width:800px ) and (min-width:495px){
    .chat{
        width: 50vw;
    } 
    .chat-rooms{
        width: 50vw;
    }
    .chat-header{
        padding:8px;
    }
    .profileImg{
        height:70%;
    }
    .chat-header>h1{
        font-size:1.1rem;
        padding:5px;
        text-align: center;
    }
    .chat-header>button{
        max-width:33%;
        padding: 0 5px;
    }
}

@media only screen and (max-width: 495px) {
    .chat{
        width: 100vw;
        height: 100vh;
    } 
    .chat-rooms{
        width: 0vw;
        height: 100vh;
    }
    .arrow{
        display:inline;
    }
    
  }