.navbar{
    width:100vw;
    height:15vh;
    padding:2%;
    background-color: rgb(39, 55, 77);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

